# Ignore the .env file
.env

user.yml

# Ignore all the target directorie and its content
target/

# Ignore all .vscode files
.vscode/

# Ignore files to doccument the project
*.md

.sfdx
-- @pgsql Chat Query Editor (127.0.0.sql
Phase-2.sql

*.excalidraw